---
layout: default
---

<div class="home">
  <p>
    This is simple Pages site that keeps track of the course material for Data Communications. Notes are transcribed from lectures, but may risk being inaccurate. <b>Please let me know if there is a mistake.</b>
  </p>
  <p>
    Notes are <i>usually</i> published within 24 hours of the lecture. I'll try my best to update this site.
  </p>
  <h2>
    <a href="https://moodle.dawsoncollege.qc.ca/course/view.php?id=33728">Moodle link</a>
  </h2>
  <h1>Announcements</h1>
  <ul>
  {% for post in site.posts %}
    <li>
      {{ post.excerpt }}
    </li>  
  {% endfor %}
  </ul>
  <hr>
  <h1>Lecture notes</h1>
  {% include index-table.html items=site.lectures %}

  <hr>
  <h1>Labs</h1>
  {% include index-table.html items=site.labs %}
  <hr>
  <h1>Powerpoints</h1>
  
  {% assign powerpoints = site.static_files | where: "powerpoint", true %}
  <ul>
    {% for pp in powerpoints %}
      <li>
          <a href="{{ pp.path | prepend: site.baseurl }}">{{ pp.name }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
