<table>
    <thead>
        <tr class="index-t-row">
            <th class="index-t-date">
                <h2>Publish Date</h2>
            </th>
            <th class="index-t-title">
                <h2>Title</h2>
            </th>
            <th class="index-t-file">
                <h2>File</h2>
            </th>
        </tr>
    </thead>
    <tbody>
    {% for item in include.items %}
        <tr>
            <td>
                <span class="post-meta">{{ item.date | date: "%b %-d, %Y" }}</span>
            </td>
            <td>
                <a class="post-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
            </td>
            <td>
                <a class="post-link" href='{{ item.dir | append: item.file | prepend: site.baseurl }}'>{{ item.file }}</a>
            </td>
        </tr>
    {% endfor %}  
    </tbody>
</table>